@* Seção Blog/Dicas com cards de citação em linha *@
<section id="blog" class="py-5 secao-blog-fundo">
    <div class="container">
        <h2 class="fw-bold text-center">Inspire-se com Grandes Mentes</h2>
    </div>
    <div class="container container-citacoes">
        <blockquote class="caixa-citacao">
            <p class="aspas-citacao">“</p>
            <p class="texto-citacao">
                A tecnologia move o mundo. 
            </p>
            <hr>
            <div class="acoes-citacao">
                <p class="autor-citacao esquerda">
                    Steve Jobs
                </p>
                <p class="autor-citacao direita">
                    <span class="badge badge-citacao">1.024</span>  ❤
                </p>
            </div>
        </blockquote>
        <blockquote class="caixa-citacao">
            <p class="aspas-citacao">“</p>
            <p class="texto-citacao">
                O sucesso é a soma de pequenos esforços repetidos dia após dia.
            </p>
            <hr>
            <div class="acoes-citacao">
                <p class="autor-citacao esquerda">
                    Robert Collier
                </p>
                <p class="autor-citacao direita">
                    <span class="badge badge-citacao">512</span>  ❤
                </p>
            </div>
        </blockquote>
        <blockquote class="caixa-citacao">
            <p class="aspas-citacao">“</p>
            <p class="texto-citacao">
                Inovação distingue um líder de um seguidor.
            </p>
            <hr>
            <div class="acoes-citacao">
                <p class="autor-citacao esquerda">
                    Steve Jobs
                </p>
                <p class="autor-citacao direita">
                    <span class="badge badge-citacao">888</span>  ❤
                </p>
            </div>
        </blockquote>
    </div>
</section> 