@* Seção Home: Apresentação e CTA *@
<section id="home" class="d-flex align-items-center min-vh-100 position-relative overflow-hidden" style="background-color: var(--color-card-dark);">
    <div class="glass-content">
        <div class="container text-center position-relative" style="z-index:1;">
            <h1 class="display-4 fw-bolder mb-4 text-white">Impulsione seu negócio com soluções digitais sob medida</h1>
            <div class="row g-3 justify-content-center">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card h-100 text-white" style="background-color: rgba(0,0,0,0.4);">
                        <div class="card-body text-center p-4">
                            <h5 class="card-title text-primary">Criação de Sites</h5>
                            <p class="card-text small">Sites modernos, rápidos e otimizados, perfeitos para destacar sua marca.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card h-100 text-white" style="background-color: rgba(0,0,0,0.4);">
                        <div class="card-body text-center p-4">
                            <h5 class="card-title text-primary">Sistemas Personalizados</h5>
                            <p class="card-text small">Automatize processos e ganhe eficiência com sistemas sob medida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card h-100 text-white" style="background-color: rgba(0,0,0,0.4);">
                        <div class="card-body text-center p-4">
                            <h5 class="card-title text-primary">Aplicativos Mobile</h5>
                            <p class="card-text small">Leve sua empresa para a palma da mão dos seus clientes com apps Android e iOS.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card h-100 text-white" style="background-color: rgba(0,0,0,0.4);">
                        <div class="card-body text-center p-4">
                            <h5 class="card-title text-primary">Automação & Consultoria</h5>
                            <p class="card-text small">Soluções inteligentes para otimizar operações e consultoria em tecnologia.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#contato" class="button mt-4" role="button">
                <span class="fold"></span>
                <div class="points_wrapper">
                    <i class="point"></i>
                    <i class="point"></i>
                    <i class="point"></i>
                    <i class="point"></i>
                    <i class="point"></i>
                    <i class="point"></i>
                    <i class="point"></i>
                    <i class="point"></i>
                    <i class="point"></i>
                    <i class="point"></i>
                </div>
                <span class="inner">
                    <svg class="icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5">
                      <polyline points="13.18 1.37 13.18 9.64 21.45 9.64 10.82 22.63 10.82 14.36 2.55 14.36 13.18 1.37"></polyline>
                    </svg>
                    Solicite um Orçamento
                </span>
            </a>
        </div>
    </div>
</section> 
